* {
    box-sizing: border-box;
    margin:0 
    padding 0;
}
body{
    background-image: url(https://image.freepik.com/free-photo/ragdoll-cat-small-kitten-portrait-white-background_1160-1388.jpg);
    font-family: 'Nanum Gothic', sans-serif;;
    font-size: 20px;
}
.navbar{ 
    background-color: #eee;
    
}
.navbar-brand{
    color: hsl(39, 87%, 63%); 
    

}
h1 {
    color: black;
}

.img-fluid
{
    max-width: 100%;
    height : auto;
    float: left;  
    margin: 5px; 
}

.button{
    background-color: black;
}
.image{
    float: center;
}
.footer{
    position: relative;
    height: 300px;
}
    
.footer:before{
    content:"";
    display: block;
    position: absolute;
    width: 100%;
    top:20px;
    height: 8px;
    background-color: black; 
}
.Sticky{
    color: black;
}

@media (min-width: 576px)
