* {
    box-sizing: border-box;
    margin:0 
    padding 0;
}

.navbar{ 
    background-color: #eee;
    background-image: url("https://image.freepik.com/free-photo/ragdoll-cat-small-kitten-portrait-white-background_1160-1388.jpg");
}

.navbar-brand{
    color: hsl(39, 87%, 63%); 

}
.heading-hero{
    padding-bottom: 30px;
    text-align: center;
    background-color: rgba(231, 231, 192, 0.911);
}
body{
    background-image: url("https://image.freepik.com/free-photo/ragdoll-cat-small-kitten-portrait-white-background_1160-1388.jpg");
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 20px;
}

.img-fluid
{
    max-width: 100;
    height : 600px;
    float: left;  
    margin: 5px; 
    border-style: solid;
    border-color: black;
}
.home-page-text{
    text-align: center;
    font-size: 20px;
}
h2{
    margin-top: 10px;
    margin-bottom: 20px;
}
@media (min-width: 768px)
{
    h1 {
    color: black;
}
}
.brand-footer {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 30px;
}

.brand-footer:hover {
    transition: .4s ease;
}
 .footer{
    position: relative;
    height: 300px;
}
    
.footer:before{
    content:"";
    display: block;
    position: absolute;
    width: 100%;
    top:20px;
    height: 8px; 
}