* {
    box-sizing: border-box;
    margin:0 
    padding 0;
}

.navbar{ 
    background-color: #eee;
    background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.pinterest.com%2Fpin%2F418764465321867905%2F&psig=AOvVaw0aTcW3zKrh5T_yK0W7Pg82&ust=1618699292814000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCKjO4vTqg_ACFQAAAAAdAAAAABAI");
}

.heading-hero{
    padding-bottom: 30px;
    font-weight: bold;
    text-align: center;
    background-color: rgba(231, 231, 192, 0.911);
}
body{
    background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.pinterest.com%2Fpin%2F418764465321867905%2F&psig=AOvVaw0aTcW3zKrh5T_yK0W7Pg82&ust=1618699292814000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCKjO4vTqg_ACFQAAAAAdAAAAABAI");
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 20px;
    font-weight: 300;
}

.index{
    font-weight: bold;
}

.about{
    font-weight: bold;
}

p {
    text-align: center;
    font-weight: bold;
  
}

.name{
    font-weight: bold;

}
.demo{
    width: 30%;
    height: 25vh;
    object-fit: cover;
}

.img-fluid
{
    max-width: 100;
    height : 500px;
    float: left;  
    margin: 5px; 
    border-style: solid;
    border-color: black;
}

h1
{
    color: black;
}

h2{
    margin-top: 60px;
    margin-bottom: 20px;
    font-weight: 100;
}

.btn-secondary{
    margin-top: 40px;
    color: rgba(231, 192, 218, 0.911);
}

.card-image{
    width: 100%;
    height: 30vh;
    object-fit: cover;
}

.contact-row{
    font-size: xx-large;
    background-image: url("https://image.freepik.com/free-photo/ragdoll-cat-small-kitten-portrait-white-background_1160-1388.jpg");
    background-attachment: fixed;
}


.fixed-bottom {
    position: relative;
}

.brand-footer {
    color: rgba(231, 231, 192, 0.911);
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 30px;
}

.brand-footer:hover {
    color: #FFFFFFc5;
    transition: .3s ease;
}

@media (min-width: 768px){};




